<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szpilkowski.android.pelnymagazynek">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.szpilkowski.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.szpilkowski.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Warehouses.WarehousesActivity"
            android:label="@string/title_activity_warehouses"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ItemsList.ItemsActivity"
            android:label="@string/title_activity_items"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Users.UsersActivity"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Item.ItemActivity"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Item.ItemEdit"
            android:label="@string/title_activity_users"
            android:theme="@style/AppThemeRed"></activity>
        <activity
            android:name=".Item.ItemNew"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Item.NewMapPosition"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".Item.EditMapPosition"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".Item.ShowOnMap"
            android:label="@string/showOnMapActivityTitle"></activity>


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>